@font-face {
    font-family: 'Climaliga';
    src: url(climaliga.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}
html {
    height: 100%;
}
body {
    font-family: "Climaliga", sans-serif;
    font-size: 75%;
    text-align: center;
    color: #555;
    background: #FCFCFC;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    line-height: 1.2;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
}
.support {
    font-family: Corbel;
    font-size: 100px;
    position: absolute;
    visibility: hidden;
}
.support.test {
    -moz-font-feature-settings: 'tnum=1';
    -webkit-font-feature-settings: 'tnum' 1;
    -moz-font-feature-settings: 'tnum' 1;
    -ms-font-feature-settings: 'tnum' 1;
    -o-font-feature-settings: 'tnum' 1;
    font-feature-settings: 'tnum' 1;
}
p {
    margin: 0.5em 0;
}
h1 {
    margin: 0 0 0.2em;
    padding: 0;
    font-size: 3em;
    line-height: 0.9;
    font-weight: normal;
}
.opentype h1 {
    font-size: 7em;
}
a,
a:link,
a:active,
a:visited {
    color: #555;
}
a:hover,
a:focus {
    color: #888;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
}
section[role=main] {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -6em;
    font-size: 1.6667em;
    padding: 0 1em;
}
@media all and (min-width: 30em) {
    section[role=main] {
        margin-top: -5em;
        font-size: 2em;
    }
}
@media all and (min-width: 50em) {
    section[role=main] {
        margin-top: -4em;
        font-size: 2.6667em;
    }
}
.opentype .loading {
    display: inline-block;
    overflow: hidden;
    width: 0.9999em;
    height: 0.9999em;
    -webkit-animation: loading 1s linear 0s infinite;
}
@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}